# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test & coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/
*.cover

# FastAPI/uvicorn
instance/
*.db
*.sqlite3

# Data files
dane/
*.csv

# Misc
*.swp
*.bak
*.tmp