version: '3.8'
services:
  fastapi:
    build: .
    container_name: fastapi_app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
      - ./dane:/app/dane
    restart: unless-stopped
